
<div class="header">
	<div class="container-fluid">
		<div class="pull-right">
			<ul class="nav nav-pills">
				{% if page.category != "home" %}
				<li role="presentation" ><a href="{{site.baseurl}}/">Home</a></li>
				{% endif %}
				<li role="presentation" {% if page.category == "list" %}class="active"{% endif %}><a href="{{  site.baseurl  }}/list">DiversifyMicro List</a></li>
				<li role="presentation" {% if page.category == "nominate" %}class="active"{% endif %}><a href="{{ site.baseurl }}/nominate">Self-Nomination</a></li>
				<li role="presentation" {% if page.category == "resources" %}class="active"{% endif %}><a href="{{ site.baseurl }}/resources">Resources</a></li>
			</ul>
		</div>
	</div>
</div>
